<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AllNew</title>
    <link rel="stylesheet" href="loginView.css">
</head>
<body>
    
    <header>
        <div class="logoTop">
            <img src="main.jpg" alt="logoTop">
        </div>
    </header>

    <section class="navSection">
        <nav>
            <ul>
                <li><a href="">menu1</a></li>
                <li><a href="">menu2</a></li>
                <li><a href="">menu3</a></li>
                <li><a href="">menu4</a></li>
                <li><a href="">menu5</a></li>
                <li><a href="">menu6</a></li>
            </ul>
        </nav>
    </section>
    <section class="conTentsWapper">
        <div class="conTents">
            <!-- 4단 가로, 좌측 정렬 -->
            <h1>소비자 리뷰</h1>
            <ul class="personReview">
                <li>
                    <a href="">
                        <div>
                            <img src="main.jpg" alt="리뷰1">
                        </div>
                        <div class="texter">
                            <p class="textTitle">리뷰1</p>
                            <p class="desctiption">desctiptiondesctiptiondesctiptiondesctiptiondesctiptiondesctiptiondesctiptiondesctiptiondesctiptiondesctiption</p>
                            <p class="reviewStar">별점</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <img src="main.jpg" alt="리뷰1">
                        </div>
                        <div class="texter">
                            <p class="textTitle">리뷰1</p>
                            <p class="desctiption">desctiptiondesctiptiondesctiptiondesctiptiondesctiptiondesctiptiondesctiptiondesctiptiondesctiptiondesctiption</p>
                            <p class="reviewStar">별점</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <img src="main.jpg" alt="리뷰1">
                        </div>
                        <div class="texter">
                            <p class="textTitle">리뷰1</p>
                            <p class="desctiption">desctiptiondesctiptiondesctiptiondesctiptiondesctiptiondesctiptiondesctiptiondesctiptiondesctiptiondesctiption</p>
                            <p class="reviewStar">별점</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <img src="main.jpg" alt="리뷰1">
                        </div>
                        <div class="texter">
                            <p class="textTitle">리뷰1</p>
                            <p class="desctiption">desctiptiondesctiptiondesctiptiondesctiptiondesctiptiondesctiptiondesctiptiondesctiptiondesctiptiondesctiption</p>
                            <p class="reviewStar">별점</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</body>
</html>